http:
  routers:
    traefik-dashboard:
      rule: "PathPrefix(`/api`) || PathPrefix(`/dashboard`)"
      service: api@internal
      entryPoints:
        - websecure
      tls: {}
    kafka-ui:
      entryPoints:
        - websecure
      service: kafka-ui
      rule: "PathPrefix(`/kafka`)"
    kibana:
      entryPoints:
        - web
      service: kibana
      rule: "PathPrefix(`/kibana`)"

  services:
    kafka-ui:
      loadBalancer:
        servers:
          - url: "http://kafka-ui:8080"
        passHostHeader: false
    kibana:
      loadBalancer:
        servers:
          - url: "http://kibana:5601"
        passHostHeader: false
